@font-face {
    font-family: 'Handwritten';
    src: url(fonts/KeepDreamingBB-Regular.otf);
}

* {
    font-family: 'Handwritten', Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-size: 400px;
    background-color: rgb(218, 211, 205);
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(images/textures/paper-texture.png);
    cursor: url('images/cursor/cursor.png'), auto;
}

a,
button {
    cursor: url('images/cursor/cursor.png'), pointer;
}

.main {
    display: flex;
    flex: 1;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    background-color: #FAF9F6;
    color: #424242;
    background-image: url(images/textures/groovepaper.png);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(images/textures/binding-dark.png);
    color: black;
    border: 1px solid #424242;
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    padding: 12px;
    padding-bottom: 0;
    gap: 20px;
}

.socials-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.resume-button {
    padding: 24px 48px;
    border-radius: 16px;
}

.header-button {
    font-size: 30px;
    border: 1px solid #424242;
}

/* NAV BAR */
.nav-bar {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    padding: 24px;
    padding-bottom: 12px;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    background-color: #7F7176;
    height: fit-content;
    background-image: url(images/textures/white-texture.png);
    border: 1px solid #42424261;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.tv-box {
    height: 150px;
    width: 260px;
    background-color: lightgray;
    border-radius: 12px;
    background-size: 180px;
    background-image: url(images/gifs/static.gif);
    border: 1px solid #424242;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tv-box:hover {
    transform: scale(1.01);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    width: 100%;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.nav-button {
    width: 240px;
    height: 56px;
    border-radius: 12px;
    border: none;
    font-size: 32px;
}

.hide-button {
    align-self: end;
    border: none;
    border: none;
    border-radius: 24px;
    padding: 1px 8px;
    font-size: 24px;
}

.hide-button:hover {
    margin: -1px;
}

/* MAIN CONTENT */

.content-view {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.construction {
    margin-bottom: 90px;
    margin-left: -64px;
}