@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

@font-face {
    font-family: 'Handwritten';
    src: url(/fonts/Excalifont.woff2);
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-size: 400px;
    background-color: rgb(218, 211, 205);
    /* background-color: rgb(212, 204, 197); */
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(/textures/paper-texture.png);
    cursor: url('/cursor/cursor.png'), auto;
    overflow: hidden;
}

a,
button {
    cursor: url('/cursor/cursor.png'), pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 0;
    margin: 0;
}

.main-wrapper {
    display: flex;
    flex: 1;
}

/* --- HEADER --- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    display: flex;
    align-items: center;
    padding: 12px;
    padding-bottom: 0;
    gap: 20px;
}

.header-button {
    border: none;
    background-color: transparent;
}

.resume-button {
    margin-top: 5px;
    height: 75px;
    width: 180px;
    background-size: 180px 75px;
    background-image: url(/buttons/resume-button.png);
    transition: scale 0.3s ease;
}

.resume-button:hover {
    box-shadow: none;
    scale: 1.035;
}

.socials-button-container {
    display: flex;
    align-items: center;
}

.socials-button {
    height: 95px;
    width: 95px;
    background-size: 95px 95px;
    background-image: url(/buttons/socials-button.png);
    z-index: 5;
    transition: rotate 0.4s ease-in-out, scale 0.3s ease, filter 0.3s ease;
}

.socials-button.open {
    rotate: -90deg;
}

.socials-button:hover {
    scale: 1.04;
}

.socials-bar {
    width: 492px;
    height: 80px;
    box-sizing: border-box;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    transform: translate(-25px);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    border: 1px solid rgba(0, 0, 0, 0.2);
    gap: 24px;
    background-color: #eeeeecc8;
    background-image: url(/textures/paper-buttons-60p.png);
    background-size: auto 100%;
    background-position: right center;
    background-repeat: repeat-x;
    box-shadow: 0 0 24px rgba(0, 0, 0, .2);
    max-width: 0;
    padding-right: 0;
    overflow: hidden;
    transition: max-width 0.4s ease-in-out, padding-right 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

.socials-bar.open {
    max-width: 520px;
    padding-right: 20px;
    border-color: rgba(0, 0, 0, 0.2);
}

.socials-icon {
    height: 52px;
    width: 52px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    flex-shrink: 0;
    transition: transform .2s ease-in-out;
}

.socials-icon:hover {
    transform: scale(1.03);
}

.socials-icon.flickr {
    background-image: url(/icons/flickr.png);
}

.socials-icon.letterboxd {
    background-image: url(/icons/letterboxd.png);
}

.socials-icon.instagram {
    background-image: url(/icons/instagram.png);
}

.socials-icon.spotify {
    background-image: url(/icons/spotify.png);
}

.socials-icon.linkdin {
    background-image: url(/icons/linkdin.png);
}

.socials-icon.github {
    background-image: url(/icons/github.png);
}

.mail-button {
    width: 136px;
    height: 46px;
    background-image: url(/buttons/mail-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 12px;
    margin-right: -8px;
    transition: scale .2s ease, filter .2s ease, rotate .2s ease;
    opacity: 0.9;

}

.mail-button:hover {
    scale: 1.05;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
    rotate: 4deg;
}


/* --- NAV BAR --- */

.nav-bar {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    transition: transform 0.3s ease-in-out;
}

.nav-bar.closed {
    transform: translateX(-312px);
}

.nav-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    padding: 24px;
    border-radius: 4px;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    background-color: #7F7176;
    height: fit-content;
    background-image: url(/textures/construction-paper.png);
    background-size: contain;
    border: 1px solid #42424261;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.pull-tab {
    z-index: 0;
    width: 36px;
    height: 100px;
    background-color: #7F7176;
    background-image: url(/textures/construction-paper-tab.png);
    background-size: 150%;
    border: 1px solid #42424261;
    border-left: none;
    border-radius: 0 48px 48px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.pull-arrow {
    max-height: 110%;
    max-width: 110%;
    padding-right: 2px;
    transition: transform 0.3s ease;
    transform: scale(-1);
}

.pull-tab:hover .pull-arrow {
    transform: scale(-1.1);
}

.nav-bar.closed .pull-arrow {
    transform: scale(1);
}

.nav-bar.closed .pull-tab:hover .pull-arrow {
    transform: scale(1.1);
}

.tv-box {
    height: 150px;
    width: 260px;
    background-color: lightgray;
    border-radius: 12px;
    background-size: 180px;
    background-image: url(/gifs/static.gif);
    border: 1px solid #424242;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tv-box:hover {
    /* transform: scale(1.01); */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    width: 100%;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Custom Buttons */
.nav-button {
    width: 260px;
    height: 65px;
    display: block;
    background-size: 260px 65px;
    background-color: transparent;
    border: none;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.nav-button:hover {
    box-shadow: none;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.25));
    transform: scale(1.02);
}

.nav-button:active {
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.2)) brightness(0.98);
    transform: scale(0.98) translateY(2px);
    transition: filter 0.1s ease, transform 0.1s ease;
}

.projects-button,
.projects-button:hover {
    background-image: url(/buttons/projects-button-520.png);
}

.blogs-button,
.blogs-button:hover {
    background-image: url(/buttons/blogs-button-520.png);
}

.photography-button,
.photography-button:hover {
    background-image: url(/buttons/photography-button-520.png);
}

.media-button,
.media-button:hover {
    background-image: url(/buttons/media-button-520.png);
}

.about-button,
.about-button:hover {
    background-image: url(/buttons/about-button-520.png);
}


/* MAIN CONTENT */

.content-view {
    width: 100%;
    /* padding: 24px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    transition: margin-left 0.3s ease-in-out;
}

.nav-bar.closed+.content-view {
    margin-left: -312px;
}

.paper-background {
    height: 103%;
    width: 100%;
    max-width: 1300px;
    /* margin-top: -24px; */
    /* background-size: 90%; */
    background-size: contain;
    background-image: url(/paper-backdrop.png);
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow-y: auto;
}


/* ------- PAGES ------- */

.page {
    max-width: 900px;
}

.page-title {
    font-size: 64px;
    position: relative;
    display: inline-block;
    align-self: flex-start;
    font-family: 'Handwritten';
    color: rgba(0, 0, 0, 0.75);

}

/* .page-title::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 110%;
    height: 10px;
    transform: translate(-10px, -8px);
    background-image: url('/underline.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: calc(.8);
} */


/* --- PROJECTS PAGE --- */
/* .page-title {
    font-family: 'Handwritten';
    color: rgba(0, 0, 0, 0.75);
} */

.project-name,
.learn-link,
.try-button {
    font-family: 'Handwritten';
    color: rgba(0, 0, 0, 0.75);
    font-weight: 300;
}

.projects-page {
    display: flex;
    flex-direction: column;
    padding: 120px 110px;
    gap: 32px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* overflow: scroll; */
}

.project-item {
    display: flex;
    gap: 34px;
}

.project-preview {
    height: 320px;
    width: 320px;
    background-color: #181818;
    flex-shrink: 0;
    text-align: center;
    border-radius: 32px;
    background-image: url(/gifs/latex-editor.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 8px center;
    position: relative;
}

/* paper frame */
.project-preview::after {
    content: '';
    position: absolute;
    right: 0;
    left: -2px;
    bottom: -1px;
    width: 100%;
    height: 100%;
    background-image: url('/textures/paper-frame.png');
    background-size: 99% 100%;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    transform: scale(1.17);
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0;
    margin-top: -4px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-name {
    font-size: 48px;
}

.github-button {
    height: 52px;
    width: 52px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/icons/git-sketched-color.png);
    transition: scale .2s ease, opacity .2s ease;
    opacity: .9;
    transform: translateY(2px);
}

.github-button:hover {
    scale: 1.04;
    opacity: 1;
}

.project-desc {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 8px;
    font-family: 'Coming Soon', Verdana, Geneva, Tahoma, sans-serif;
    white-space: pre-line;
}

.tags-container {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 14px;
}

.project-tag {
    background-color: #7f717649;
    color: black;
    padding: 4px 12px 2px 12px;
    border-radius: 12px;
    font-family: "Coming Soon";
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}


.project-links {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.try-button {
    width: 360px;
    height: 64px;
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    line-height: 64px;
    transform: translateY(4px);
    text-decoration: none;
    background-image: url(/buttons/long-paper-button.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.1));
    color: rgba(0, 0, 0, 0.85);
    transition: transform 0.3s ease, filter 0.3s ease, color 0.3s ease;
    transform-origin: center;
    opacity: calc(.9);
}

.try-button:hover {
    transform: scale(1.01) translateY(4px);
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.25));
    color: rgba(0, 0, 0, 0.9);
}

.learn-link {
    font-size: 22px;
    padding-right: 8px;
    font-weight: bold;
    transition: transform .2s ease-in-out;
}

.learn-link:hover {
    transform: scale(1.01);
    transform-origin: bottom;
    color: #585e8c;
    text-decoration: underline 2px;
    text-underline-offset: 6px;
}

/* --- PLACEHOLDER PAGE --- */
.placeholder-page {
    display: flex;
    flex-direction: column;
    padding: 120px 110px;
    width: 100%;
}

.construction {
    margin-bottom: 42px;
    margin-left: -36px;
    max-height: 320px;
    max-width: 320px;
    transform: translate(310px, 10px)
}

.home-placeholder .construction {
    transform: translate(310px, 80px)
}